.footer
    position: relative

    p
        font-size: 14px
        font-weight: 300
        margin: 17px 0 80px

    &__contact
        text-decoration: underline


    &__item
        min-width: 25%
        
    &__title
        font-size: 20px
        font-weight: 600

    &__top
        background-color: #1A3E3E
        color: #FFFFFF

        &-wrapper
            padding: 178px 0 80px
            display: flex
            justify-content: space-between
            gap: 70px

    &__bottom
        background-color: #18121E
        color: #FFFFFF

        a
            text-decoration: underline

        &-wrapper
            padding: 24px 0
            display: flex
            justify-content: space-between

    &__contacts
        margin-bottom: 32px
        
    &__contact
        white-space: nowrap
        padding: 0 24px 0 0

    &__social-item
        padding: 0 16px 0 0

    &__list
        display: flex
        flex-direction: column
        gap: 16px
        
        &-item
            font-size: 14px
            font-weight: 300
            line-height: 18px
            display: inline-flex
            gap: 8px
            align-items: baseline

            a
                transition: 0.2s
                
            svg
                transition: 0.2s


            &:hover
            
                a
                    color: #F2BE22
                    text-decoration: underline
            
                svg path
                    fill: #F2BE22
    
        
    &__bottom-item
        flex-shrink: 0

@media screen and (max-width: 768px) 
    .footer__list
        max-width: 65%
    
    .footer p
        margin: 17px 0 30px
    
    .footer__top-wrapper
        padding: 50px 0 80px
        flex-direction: column
        gap: 50px
    .footer__bottom-wrapper
        flex-direction: column
        align-items: center

@media screen and (max-width: 1280px) 
    .form__top
        flex-direction: column
    