@import "fonts.sass"
@import "_media.sass"
@import "_variables.sass"
@import "_mixins.sass"
@import "./promo.sass"
@import "./header.sass"
@import "./search.sass"

*
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    scroll-behavior: smooth
    //outline: 1px solid red

html, body
    margin: 0
    padding: 0

body
    //font-family: "SF Pro Display"
    //color: $font-color-default
    background-color: #F3F5F4

.section-start
    background: darkgrey


