@use "_media.sass"
@use "_variables.sass"
@use "_mixins.sass"
@use "./promo.sass"
@use "./header.sass"
@use "./search.sass"
@use "./about.sass"
@use "./program.sass"
@use "./popular.sass"
@use "./fonts.sass"
@use "./blog.sass"
@use "./gallery.sass"
@use "./footer.sass"
@use "./subscribe.sass"
//@import "choices.js/src/styles/choices"
@use 'choices.js/src/styles/choices'

*
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    scroll-behavior: smooth
    //outline: 1px solid red

html, body
    margin: 0
    padding: 0

body
    //font-family: "SF Pro Display"
    //color: $$font-color-default
    background-color: #F3F5F4
    font-family: "Nunito Sans", sans-serif
    min-width: 390px

a
    text-decoration: none
    color: inherit

.container
    height: 100%
    width: 100%
    max-width: 1212px
    margin: 0 auto
    padding: 0 16px

ul 
    list-style-type: none
    padding: 0

.section-start
    background-image: url(assets/images/mainscreen.jpg)
    background-repeat: no-repeat
    background-size: cover
    height: 985px

.btn-primary
        display: inline-block
        padding: 16px 36px
        font-size: 16px
        line-height: 20px
        font-weight: 600
        background-color: #1A3E3E
        color: #FDFDFD
        border-radius: 4px
        border-width: 0

.section
    padding: 80px 0 100px

.note
    color: #F2BE22
    font-size: 24px
    line-height: 1

.title 
    font-weight: 800
    font-size: 32px
    line-height: 1.2
    margin: 8px 0 40px 0


p
    font-size: 18px
    line-height: 1.5
    margin-bottom: 40px

button
    font-family: "Nunito Sans", sans-serif

.choices 
    margin-bottom: 0 
    color: #FDFDFD
    text-decoration: none

    &__inner
        background-color: transparent
        border-radius: 8px
        border: 1px #E1E3E4 solid
        font-size: 16px
        font-weight: 600
        line-height: 1.5
    &__item
        &::after
            display: none

.choices[data-type*=select-one]::after
    width: 8px
    height: 8px
    border-top: 2px solid #FDFDFD
    border-right: 2px solid #FDFDFD
    border-bottom: none
    border-left: none
    margin: 0
    transform: rotate(135deg)
    display: inline-block
    transition: 0.4s
    content: ""
    position: absolute
    right: 18.5px
    top: 38%
    
    
.choices[data-type*=select-one].is-open::after
    margin-top: 0
    border-color: #FDFDFD #FDFDFD transparent transparent
    transform: rotate(-45deg)

.swiper-slide
    flex-shrink: 1 !important

