
@import "global.sass"

body
    font-family: "Nunito Sans", sans-serif

@font-face
    font-family: "Next Art"
    font-weight: normal
    font-style: normal
    src: local("Next Art")
        url("/verstka1/assets/fonts/NEXT\ ART_Regular.otf") format("truetype")

@font-face 
    font-family: "Next Art"
    font-weight: bold
    font-style: normal
    src: local("Next Art")
        url("/verstka1/assets/fonts/NEXT\ ART_Bold.otf") format("truetype")

@font-face 
    font-family: "Next Art"
    font-weight: light
    font-style: normal
    src: local("Next Art")
        url("/verstka1/assets/fonts/NEXT\ ART_Light.otf") format("truetype")

@font-face
    font-family: "Next Art"
    font-weight: 600
    font-style: normal
    src: local("Next Art")б
        url("/verstka1/assets/fonts/NEXT\ ART_SemiBold.otf") format("truetype")

@font-face
    font-family: "Next Art"
    font-weight: 900
    font-style: normal
    src: local("Next Art"),
    url("/verstka1/assets/fonts/NEXT\ ART_Heavy.otf") format("truetype")